## Подключитесь к базе. Загрузите таблицы sql

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [4]:

db_config = {
'user': 'praktikum_student', # имя пользователя,
'pwd': 'Sdf4$2;d-d30pp', # пароль,
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # порт подключения,
'db': 'data-science-vehicle-db' # название базы данных,
} 
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db'],
)
engine = create_engine(connection_string)

In [8]:
def get_info(df):
    display(df.sample(5))
    display(df.info())

In [9]:
query = '''
SELECT *
FROM case_ids
'''
df_ids = pd.read_sql_query(sql=text(query), con = engine.connect())

In [11]:
get_info(df_ids)

        case_id db_year
473863  4623461    2021
244264  4357359    2021
30233   4098266    2021
535798  4687370    2021
527029  4678255    2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400000 entries, 0 to 1399999
Data columns (total 2 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   case_id  1400000 non-null  object
 1   db_year  1400000 non-null  object
dtypes: object(2)
memory usage: 21.4+ MB

None

In [12]:
query = '''
SELECT *
FROM collisions
'''
df_col = pd.read_sql_query(sql=text(query), con = engine.connect())

In [13]:
get_info(df_col)

,case_id,county_city_location,county_location,distance,direction,intersection,weather_1,location_type,collision_damage,party_count,primary_collision_factor,pcf_violation_category,type_of_collision,motor_vehicle_involved_with,road_surface,road_condition_1,lighting,control_device,collision_date,collision_time
1038407,5364143,4313,santa clara,30.0,west,0.0,clear,highway,small damage,2,vehicle code violation,unsafe lane change,sideswipe,other motor vehicle,dry,normal,daylight,none,2011-08-11,07:10:00
645353,4540540,4311,santa clara,90.0,north,0.0,raining,None,small damage,2,unknown,unknown,sideswipe,other motor vehicle,wet,normal,dark with street lights,none,2009-12-29,16:05:00
1060737,5409760,3104,placer,0.0,None,1.0,cloudy,None,small damage,2,vehicle code violation,dui,sideswipe,other motor vehicle,wet,normal,dark with street lights,functioning,2011-11-20,20:03:00
1285494,4916797,3005,orange,1260.0,south,0.0,clear,None,middle damage,2,vehicle code violation,automobile right of way,broadside,other motor vehicle,dry,normal,daylight,none,2010-08-27,12:29:00
454456,4125762,1919,los angeles,30.0,north,0.0,clear,None,small damage,1,vehicle code violation,improper turning,hit object,other object,dry,normal,dark with street lights,none,2009-04-06,00:17:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400000 entries, 0 to 1399999
Data columns (total 20 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   case_id                      1400000 non-null  object
 1   county_city_location         1400000 non-null  object
 2   county_location              1400000 non-null  object
 3   distance                     1400000 non-null  float64
 4   direction                    1059358 non-null  object
 5   intersection                 1387781 non-null  float64
 6   weather_1                    1392741 non-null  object
 7   location_type                518779 non-null   object
 8   collision_damage             1400000 non-null  object
 9   party_count                  1400000 non-null  int64
 10  primary_collision_factor     1391834 non-null  object
 11  pcf_violation_category       1372046 non-null  object
 12  type_of_collision            1388176 non-null  object
 13  motor_vehicle_involved_with  1393181 non-null  object
 14  road_surface                 1386907 non-null  object
 15  road_condition_1             1388012 non-null  object
 16  lighting                     1391407 non-null  object
 17  control_device               1391593 non-null  object
 18  collision_date               1400000 non-null  object
 19  collision_time               1387692 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 213.6+ MB

None

In [14]:
query = '''
SELECT *
FROM Parties
'''
df_par = pd.read_sql_query(sql=text(query), con = engine.connect())

In [18]:
get_info(df_par)

,id,case_id,party_number,party_type,at_fault,insurance_premium,party_sobriety,party_drug_physical,cellphone_in_use
757840,140099,4160444,1,car,1,20.0,had not been drinking,None,0.0
1902967,1443069,4924123,1,car,1,NaN,impairment unknown,G,NaN
404605,2491102,5500293,2,car,0,52.0,had not been drinking,None,0.0
2586371,2221048,5354824,2,car,0,25.0,had not been drinking,None,0.0
973301,385035,4302247,1,car,1,22.0,had not been drinking,None,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752408 entries, 0 to 2752407
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   case_id              object
 2   party_number         int64
 3   party_type           object
 4   at_fault             int64
 5   insurance_premium    float64
 6   party_sobriety       object
 7   party_drug_physical  object
 8   cellphone_in_use     float64
dtypes: float64(2), int64(3), object(4)
memory usage: 189.0+ MB

None

In [16]:
query = '''
SELECT *
FROM Vehicles
'''
df_car = pd.read_sql_query(sql=text(query), con = engine.connect())

In [17]:
get_info(df_car)

,id,case_id,party_number,vehicle_type,vehicle_transmission,vehicle_age
629410,877416,5015215,2,hatchback,manual,7.0
531808,602515,4717728,2,hatchback,manual,5.0
711432,1109862,5244335,2,minivan,manual,2.0
54437,77820,4165093,1,sedan,auto,7.0
107062,416735,4522484,1,sedan,auto,4.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021234 entries, 0 to 1021233
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1021234 non-null  int64
 1   case_id               1021234 non-null  object
 2   party_number          1021234 non-null  int64
 3   vehicle_type          1021234 non-null  object
 4   vehicle_transmission  997575 non-null   object
 5   vehicle_age           996652 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 46.7+ MB

None

## Проведите первичное исследование таблиц

##  Проведите статистический анализ факторов ДТП

## Создайте модель для оценки водительского риска

## Проведите анализ важности факторов ДТП

## Выводы